[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "public"]
	path = public
	url = git@github.com:azuretar/azuretar.github.io.git